@using BlazorTraining.Domain.ViewModels
@inject IServerRepository ServerRepository
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

@if (serverRegionNames is null)
{
    <div class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ul class="list-group mb-2">
        @* Filter Servers *@
        <li class="list-group-item">
            <select class="form-control" @onchange="(e) => FilterByRegionName(e.Value.ToString())">
                <option value="All" selected>All</option>
                @foreach (var item in serverRegionNames)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </li>
        @* Search Servers with key down *@

        <li class="list-group-item">
            <input @bind="searchKeyword" @bind:event="oninput" @onkeyup="SearchServersWithKeyDown" type="text" class="form-control" placeholder="Search servers with keyup...">
            @* <p class="@(showSearchPreloader ? "" : "d-none")">Please wait...</p> *@
        </li>
        @* Search Servers with button *@

        <li class="list-group-item">
            <div class="input-group">
                <input @bind="searchKeyword" type="text" class="form-control" placeholder="Search servers with button...">
                <button @onclick="SearchServersWithButton" class="btn btn-outline-secondary" type="button">
                    @if (showSearchPreloader)
                    {
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Loading...</span>
                    }
                    else
                    {
                        <span>Search</span>
                    }
                </button>
            </div>
        </li>

        @* Interactivity Training *@
        @* <IntractivityTrainingComponent @rendermode="InteractiveServer"></IntractivityTrainingComponent> *@
    </ul>
}

<ServerListContainer Servers="servers" EditServerId="editServerId" ShowEditModalComponent="showEditModalComponent" ServerChanged="GetServerList" EditModalParametersChanged="EditModalParametersChanged"></ServerListContainer>

<EditServerModal Display="showEditModalComponent" ServerId="editServerId" ModalClosed="EditModalClosed"></EditServerModal>

@code {
    List<Server>? servers;
    List<string>? serverRegionNames;
    string selectedRegionName = "All";
    string searchKeyword = string.Empty;
    bool showSearchPreloader = false;

    int? editServerId;
    bool showEditModalComponent = false;

    protected override async Task OnInitializedAsync()
    {
        servers ??= await ServerRepository.GetAll();

        serverRegionNames ??= await ServerRepository.GetServerRegionNames();
    }

    async Task GetServerList()
    {
        if (selectedRegionName == "All")
            servers = await ServerRepository.GetAll();
        else
            servers = await ServerRepository.GetAll(selectedRegionName);
    }

    async Task FilterByRegionName(string regionName)
    {
        selectedRegionName = regionName;
        await GetServerList();
    }

    async Task SearchServersWithButton()
    {
        showSearchPreloader = true;

        await Task.Delay(1000);
        servers = await ServerRepository.GetAllWithQuery(searchKeyword);

        showSearchPreloader = false;
    }

    async Task SearchServersWithKeyDown()
    {
        if (searchKeyword.Length > 3 || searchKeyword.Length == 0)
        {
            showSearchPreloader = true;
            await Task.Delay(1000);

            Console.WriteLine(searchKeyword);

            servers = await ServerRepository.GetAllWithQuery(searchKeyword);
        }
        showSearchPreloader = false;
    }

    void EditModalParametersChanged(ServerEditModalParams data)
    {
        editServerId = data.ServerId;
        showEditModalComponent = data.ShowEditModalComponent;
    }

    async Task EditModalClosed()
    {
        editServerId = null;
        showEditModalComponent = false;
        await GetServerList();
    }
}