@using BlazorTraining.Domain.ViewModels
@rendermode InteractiveServer

@{
    int i = 0;
}

@if (Servers is null)
{
    <div class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ul class="list-group">
        @foreach (var item in Servers)
        {
            <ServerListItem Index="i" Item="item" ServerItemChanged="ServerChanged" EditServerId="EditServerId" ShowEditModalComponent="ShowEditModalComponent" EditModalParametersChanged="EditModalParametersChanged"></ServerListItem>
            i++;
        }
    </ul>
}

@code {
    [Parameter]
    public List<Server>? Servers { get; set; }

    [Parameter]
    public int? EditServerId { get; set; }

    [Parameter]
    public bool ShowEditModalComponent { get; set; }

    [Parameter]
    public EventCallback ServerChanged { get; set; }

    [Parameter]
    public EventCallback<ServerEditModalParams> EditModalParametersChanged { get; set; }
}