<div class="modal-body">

    <DynamicComponent Type="Reference.ComponentType"
                      Parameters="Parameters" />

</div>

@code
{
    [Parameter]
    public required DialogReference Reference { get; init; }

    private IDictionary<string, object?> Parameters
    {
        get
        {
            var parameters = new Dictionary<string, object?>(
                Reference.Parameters.ToDictionary());

            parameters[nameof(DialogBase.Dialog)] = Reference;

            return parameters;
        }
    }
}