@if (!string.IsNullOrWhiteSpace(Reference.Options.Title)
    || Reference.Options.ShowCloseButton)
{
    <div class="modal-header">

        @if (!string.IsNullOrWhiteSpace(Reference.Options.Title))
        {
            <h5 class="modal-title">
                @Reference.Options.Title
            </h5>
        }

        @if (Reference.Options.ShowCloseButton)
        {
            <button type="button"
                    class="btn-close"
                    aria-label="Close"
                    @onclick="CloseAsync">
            </button>
        }

    </div>
}

@code
{
    [Parameter]
    public required DialogReference Reference { get; init; }

    private Task CloseAsync()
        => Reference.CloseAsync(
            DialogResult.Cancel(DialogCloseReason.CloseButton));
}