@using BlazorTraining.Dialog.Infrastructure

<div class="modal fade show d-block"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-hidden="@(!Reference.IsActive)"
     style="z-index:@ZIndexManager.GetModal(Reference.StackIndex)"
     @onclick="BackdropClick">

    <div class="@DialogCss"
         @onclick:stopPropagation="true">

        <div class="modal-content">

            <DialogHeader Reference="Reference" />

            <DialogBody Reference="Reference" />

            <DialogFooter Reference="Reference" />

        </div>

    </div>

</div>

<div class="modal-backdrop fade show"
     style="z-index:@ZIndexManager.GetBackdrop(Reference.StackIndex)">
</div>

@code
{
    [Parameter]
    public required DialogReference Reference { get; init; }

    private Task BackdropClick()
        => Reference.Options.CloseOnBackdropClick
            ? Reference.CloseAsync(DialogResult.Cancel(DialogCloseReason.Backdrop))
            : Task.CompletedTask;

    private string DialogCss
    {
        get
        {
            var classes = new List<string>
            {
                "modal-dialog"
            };

            if (Reference.Options.VerticallyCentered)
                classes.Add("modal-dialog-centered");

            if (Reference.Options.Scrollable)
                classes.Add("modal-dialog-scrollable");

            classes.Add(Reference.Options.Size switch
            {
                DialogSize.Small => "modal-sm",
                DialogSize.Large => "modal-lg",
                DialogSize.ExtraLarge => "modal-xl",
                DialogSize.Fullscreen => "modal-fullscreen",
                _ => string.Empty
            });

            return string.Join(' ', classes.Where(x => !string.IsNullOrWhiteSpace(x)));
        }
    }
}